/* pre-loader ------------------*/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #081b29;
    transition: opacity 0.75s, visibility 0.75s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #333333;
    border-top-color: #0ef;
    border-radius: 50%;
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 75px cyan, 0 0 100px cyan;
    animation: loading 0.75s ease infinite;
}


/* page styling --------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', 'sans-serif';
    scroll-behavior: smooth;
    list-style: none;
}

:root {
    --big-font: 2.5rem;
    --normal-font: 2rem;
    --h2-font: 2.5rem;
}

::-webkit-scrollbar {
    height: 0;
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: #112e42;
}

::-webkit-scrollbar-thumb {
    background: #0ef;
    border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 20px #0ef;
}

body {
    color: #ededed;
    background: #112e42;
}

.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    z-index: 100;
}

.header.sticky {
    background: #051129;
    padding: 10px 10%;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
}

.logo span {
    color: #0ef;
}

.navlist {
    display: flex;
}

.navlist a {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navlist a:hover,
.navlist a.active {
    color: #0ef;
    text-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}

#menu-icon {
    font-size: 3rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25x;
    border-radius: 3px;
    color: #fff;
    display: none;
    animation: slideTop 1s ease forwards;
}

section {
    min-height: 100vh;
    padding: 3rem 5% 3rem;
}

/* home section ------------------------------------ */

.home {
    position: relative;
    min-height: 100vh;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    background: url("../Media/images/background_pc.png") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: var(--normal-font);
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: var(--normal-font);
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p {
    font-size: 20px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
    transition: all .5s;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
    transition: all .5s;
}

/* about section ------------------------------------ */

.about {
    background: #081b29;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid #0ef;
    box-shadow: 0 0 5px #0ef,
        0 0 15px #0ef;
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #081b29;
    border-bottom: .2rem solid #081b29;
    border-left: .2rem solid #0ef;
    border-right: .2rem solid #0ef;
    animation: aboutSpinner 5s linear infinite;
}

.about h2 {
    font-size: 60px;
}

.about h2 span {
    color: #0ef;
}

.about-content {
    text-align: center;
}

.about-content h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-content p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.ed-img {
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
    border-color: cyan;
}

/* journey section ------------------------------------ */

#journey {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.scroll-bar {
    height: 500px;
    overflow: auto;
    padding: 20px;
}

.journey h2 {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.journey .journey-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.journey-row .journey-column {
    flex: 1 1 40rem;
}

.journey-row .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.scroll-bar .journey-box {
    border-left: .2rem solid #0ef;
}

.journey span {
    color: #0ef;
}

.journey-box .journey-content {
    position: relative;
    padding-left: 2rem;
}

.journey-box .journey-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: #0ef;
    border-radius: 50%;
}

.journey-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #0ef;
    border-radius: .6rem;
    margin-bottom: 2rem;
}

.journey-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.journey-content .content:hover::before {
    width: 100%;

}

.journey-content .content .year {
    font-size: 1.5rem;
    color: #0ef;
    padding-bottom: .5rem;
}

.journey-content .content .year i {
    padding-right: .5rem;
}

.journey-content .content h3 {
    font-size: 2rem;
}

.journey-content .content p {
    font-size: 1rem;
    padding-top: .5rem;
}

/* skills section ------------------------------------ */

.skills {
    background: #081b29;
}

.skills_filter_buttons {
    margin: 2rem;
    text-align: center;
}

.skills_filter_buttons button {
    padding: 0 !important;
    padding-top: 20px !important;
}

.skills_filter_buttons .btn {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #fff;
    padding-bottom: 20px;
}

.skills h2 {
    text-align: center;
    font-size: 60px;
}

.skills h2 span {
    color: #0ef;
}

/* technical skills div -------------------------------*/

.skill_tech {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    background: #112e42;
    border-radius: 50px;
    gap: 0;
}

.skill_details_tech {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.skill_details_tech i {
    color: #000;
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.skill_details_tech i:active {
    transform: translateY(-50%) scale(0.85);
}

.skill_details_tech i:first-child {
    left: -22px;
}

.skill_details_tech i:last-child {
    right: -22px;
}

.skill_details_tech .carousel_tech {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel_tech::-webkit-scrollbar {
    display: none;
}

.carousel_tech.no-transition {
    scroll-behavior: auto;
}

.carousel_tech.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel_tech.dragging .card_tech {
    cursor: grab;
    user-select: none;
}

.carousel_tech :where(.card_tech, .skill_spinner) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_tech .card_tech {
    background: rgb(3, 110, 153);
    scroll-snap-align: start;
    height: 300px;
    list-style: none;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel_tech .card_tech .skill_spinner {
    background: #4888dc;
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.carousel_tech .card_tech h2 {
    color: #000;
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

/* professional skills div ----------------------*/

.skill_prof {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    background: #112e42;
    border-radius: 50px;
    gap: 0;
}

.skill_buttons a {
    text-decoration: none;
}

.skill_buttons a:hover {
    cursor: pointer;
    font-size: 16px;
}

.skill_details_prof {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.skill_details_prof i {
    color: #000;
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.skill_details_prof i:active {
    transform: translateY(-50%) scale(0.85);
}

.skill_details_prof i:first-child {
    left: -22px;
}

.skill_details_prof i:last-child {
    right: -22px;
}

.skill_details_prof .carousel_prof {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel_prof::-webkit-scrollbar {
    display: none;
}

.carousel_prof.no-transition {
    scroll-behavior: auto;
}

.carousel_prof.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel_prof.dragging .card_prof {
    cursor: grab;
    user-select: none;
}

.carousel_prof :where(.card_prof, .skill_spinner) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_prof .card_prof {
    background: rgb(3, 110, 153);
    scroll-snap-align: start;
    height: 300px;
    list-style: none;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel_prof .card_prof .skill_spinner {
    background: #4888dc;
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.carousel_prof .card_prof h2 {
    color: #000;
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

/* spinner designs ---------------------*/

.box {
    position: relative;
    margin: 10px 0;
    flex: 1 1 15rem;
}

.box .text big {
    font-weight: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle .points {
    width: 2px;
    height: 10px;
    background: #4e7e9d;
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
}

.points.marked {
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.02s);
}

/* portfolio section ------------------------------------ */

.portfolio h2 {
    font-size: 60px;
    text-align: center;
}

.portfolio h2 span {
    color: #0ef;
}

.filter-buttons {
    margin: 2rem;
    text-align: center;
}

.filter-buttons .btn {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #fff;
    padding-bottom: 20px;
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 2rem;
}

.port-box {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #292e33;
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2x solid #0ef;
    box-shadow: 0 0 5px #0ef,
        0 0 10px #0ef;
}

.port-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.port-image img {
    width: 100%;
    opacity: .5s;
    height: 100%;
    transition: .5s;
}

.port-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(rgba(0, 0, 0, .2), #12f7ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    padding: 0 2rem;
}

.port-box:hover .port-content {
    opacity: 1;
}

.port-box:hover .port-image img {
    transform: scale(1.1);
}

.port-content h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.port-content p {
    font-size: .8rem;
    margin: 5px 0 15px 0;
}

.port-content a {
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #0ef;
    outline: 2px solid #fff;
}

.port-content a i {
    font-size: 1.3rem;
}

/* contact section ------------------------------------ */

.contact {
    background: #081b29;
    align-items: center;
    gap: 3rem;
}

.contact-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
}

.contact h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 30px;
    font-weight: 600;
}

.contact-text p {
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.contact-icons a:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
    transition: all .5s;
}

.contact-form form {
    position: relative;
    padding-left: 30px;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 150px;
}

.contact-form form .contact-btns {
    margin-bottom: 15px;
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}

.contact-form form .contact-btns:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
    transition: all .5s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #555557 inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* footer ------------------------------------ */

footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(7, 85, 91);
}

footer div {
    flex: 1;
}

footer div:nth-of-type(odd) {
    flex: 10;
}

.footer-text p {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: 300;
}

footer a {
    color: #0ef;
}

footer span {
    font-size: small;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #0ef;
    border: .2rem solid #0ef;
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

a.top {
    padding: 2px;
    margin-top: 10px;
}

a.top:hover {
    box-shadow: 0 0 5px #0ef,
        0 0 10px #0ef;
    ;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #40769a;
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #112e42;
    padding: 0;
}

/* parallax ------------------------------------ */

.scroll-scale {
    opacity: 0;
    transform: scale(.9);
    transition: all 2s;
}

.slide-bottom {
    opacity: 0;
    transform: translateY(-150px);
    transition: all 1.5s ease-in-out;
}

.slide-top {
    opacity: 0;
    transform: translateY(150px);
    transition: all 1.5s ease-in-out;
}

.slide-right {
    opacity: 0;
    transform: translateX(-150px);
    transition: all 2s ease-in-out;
}

.slide-left {
    opacity: 0;
    transform: translateX(150px);
    transition: all 2s ease-in-out;
}

.slide-top-1 {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease-in-out;
}

.slide-top-2 {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1.3s ease-in-out;
}

.slide-top-3 {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1.6s ease-in-out;
}

.slide-top-4 {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1.9s ease-in-out;
}

.show-items {
    opacity: 1;
    transform: translateX(0);
}

/* keyframes ------------------------------------ */

@media screen and (max-width: 900px) {
    .skill_details_tech .carousel_tech {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .skill_details_tech .carousel_tech {
        grid-auto-columns: 100%;
    }
}

@media screen and (max-width: 900px) {
    .skill_details_prof .carousel_prof {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .skill_details_prof .carousel_prof {
        grid-auto-columns: 100%;
    }
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes glow {
    0% {
        background: #081b29;
        box-shadow: none;
    }

    100% {
        background: #0ef;
        box-shadow: 0 0 5px #0ef,
            0 0 10px #0ef;
        ;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* breakpoints ------------------------------------ */

@media(max-width: 991px) {

    header,
    .header.sticky {
        padding: 15px 5%;
    }

    footer {
        padding: 0;
        width: 100%;
    }

    section {
        padding: 50px 5%;
    }

    .navlist a {
        padding: 8px 15px;
    }

    :root {
        --big-font: 2.2rem;
        --normal-font: 1.8rem;
        --h2-font: 2.5rem;
    }

    .home-content {
        margin-top: 5rem;
    }

    .header {
        background: transparent;
        transition: .3s;
    }

    .header.sticky {
        background: #051129;
        padding: 10px 10%;
    }
}

@media(max-width: 768px) {

    .home {
        position: relative;
        min-height: 100vh;
        width: 100%;
        justify-content: space-between;
        height: 100%;
        background: url("../Media/images/background_mobile.png") no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        padding: 70px 10% 0;
    }

    .btn-box {
        margin-bottom: 30px;
    }

    #menu-icon {
        display: block;
        transition: all .4s ease;
    }

    #menu-icon.bx-x {
        transform: rotate(-180deg);
    }

    .header {
        background: transparent;
        transition: .3s;
    }

    .header.sticky {
        background: #051129;
        padding: 10px 10%;
    }

    .header.color {
        background: #051129;
    }

    .navlist.open {
        top: 100%;
    }

    .navlist {
        display: flex;
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        flex-direction: column;
        background: #051129;
        text-align: left;
        padding: 0 5%;
        transition: all .45s ease;
    }

    .navlist a {
        display: block;
        padding-bottom: 1rem;
        font-size: 1rem;
    }

    .home {
        grid-template-columns: 1fr;
    }

    .filter-buttons {
        margin: 2.5rem 0;
    }

    .contact-icons a {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    footer p {
        font-size: 1rem;
    }

    footer {
        width: 100%;
        padding: 0;
        flex-direction: column-reverse;
    }
}

@media(max-width: 420px) {
    html {
        font-size: 80%;
    }

    footer p {
        font-size: 1.5rem;
        margin: 0;
    }

    footer {
        width: 100%;
        padding: 0;
    }

    .filter-buttons .btn {
        font-size: .8rem;
    }

    .contact-icons i {
        margin-bottom: 0;
    }

    .header {
        background: transparent;
        transition: .3s;
    }

    .header.sticky {
        background: #051129;
        padding: 10px 10%;
    }

    .home-content h1 {
        font-size: 45px;
    }

    .contact-icons a {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}