/* font-family: 'Courgette', cursive;
font-family: 'Domine', serif;
font-family: 'Kaushan Script', cursive; 
font-family: 'Kalam', cursive;
*/

body {
    background-color: #FAF0E4;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
    padding: 5px;
    padding-top: 0;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 0;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    --bs-navbar-padding-y: 0;
}

.logo {
    height: 2em;
    width: 4em;
}

.navbar-brand {
    padding-left: 30px;
}

.nav-link {
    padding: 0;
}

.navbar-nav {
    margin-left: auto;
}

ul {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    font-family: 'Courgette', cursive;
    text-align: right;
    margin: 0;
    padding: 5px 0;
}

li {
    display: inline-flex;
    padding: 0 20px;
    text-align: center;
}

.btn {
    color: black;
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0);
    border: none;
}

.btn-primary {
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: rgba(122, 57, 57, 0.8);
    --bs-btn-active-color: rgba(255, 255, 255, 1);
    --bs-btn-active-bg: rgba(0, 0, 0, 0.8);
}

.start-text {
    color: rgb(162, 0, 0);
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
    position: relative;
    margin: auto;
    top: 40%;
    bottom: 40%;
    text-align: center;
}

#bg-image {
    height: 710px;
    width: 100%;
    background-attachment: fixed;
    background-image: url("/Media/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h4 {
    text-align: center;
    font-family: 'Domine', serif;
    font-size: 3.125rem;
    margin-bottom: 0;
}

.about-image {
    float: right;
    border-radius: 30%;
    height: 250px;
    padding-right: 5px;
    padding-left: 10px;
    width: 250px;
}

.about-details {
    padding: 0 10px 10px 10px;
}

.about-section-text {
    padding: 0 5px;
    font-family: 'Kalam', cursive;
    font-weight: 200;
    font-size: 1.25rem;
    padding-right: 20px;
    text-align: justify;
    text-indent: 5%;
    margin-bottom: 0;
}

.about-section-intro {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    font-weight: 590;
    margin-bottom: 0;
    padding: 0 5px;
}

.education-image {
    float: right;
    border-radius: 30%;
    height: 250px;
    padding-right: 5px;
    padding-left: 10px;
    width: 250px;
}

footer {
    background-color: #5b6d88;
    padding: 10px 0;
    text-align: center;
}

.footer-text {
    margin: auto;
}